/* COLOR PROPERTIES */
/* COLOR BACKGROUND-COLOR BACKGROUND */

/* #first {
  color: white;
  background-color: black;
}
#second {
  color: red;
  background: yellow;
}
 */

 /* RGB RED GREEN BLUE 0-255 */

#first {
  color: rgb(255, 0, 0);
  background: rgb(0, 0, 0);
}
#second {
  color: rgb(0, 255, 0);
  background: rgb(255, 255, 255);
}
#three {
  color: rgb(0, 0, 255,20);
  background: rgb(200, 90, 230);
}
#four{
  color:rgba(255, 0, 0, 1);

}
#five{
  color:rgba(255, 0, 0, 0.75) ;
}